<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>bookbookgoose -- browse books, randomly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Hilary Mason">
    <!-- hello! you're looking at my code. Why did you do that? -->

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      #book_cover {
        float:left;
        margin:5px 10px 0 0;
      }
      #book_author {
        clear:both;
      }
      #book_desc {
        font-size=90%;
       }
      #book_title {
        clear:both;
      }

       #book_next {
         margin-top:2px;
         float:right;
       }
       #book_back {
         float:right;
       }
       .book_link {
         color:#333;
         float:left;
       }
       .book_link:hover {
         color:#333;
         text-decoration:none;
       }
       #buyme_link {
         color:#08C;
         padding-top:12px;
        }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">bookbookgoose - browse books, randomly</a> <!-- TODO: (<a href="">why??</a>) -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
         <a target="_blank" class="book_link" id="buyme_link" href="#">read me</a>
        <a class="btn btn-primary btn-large" id="book_next">Next &raquo;</a>
        <div style="clear:both;"></div>
        <h2 id="book_title"><a target="_blank" class="book_link" id="book_title_link" href="#">Loading...</a></h2>
        <p id="book_author">&nbsp;</p>
        <div style="height:350px;float:left;">
        <a target="_blank" class="book_link" href="#">
          <img src="static/img/no-image.gif" id="book_cover" width="200" />
         </a>
       </div>
        <p id="book_desc">&nbsp;</p>
        <div style="clear:both;"></div>
        <a class="btn btn-primary btn-large" id="book_back">Back &laquo;</a>
      </div>

      <div class="row">
        <div class="span6">
          <h2>What is this?</h2>
          <p>Do you miss wandering into a bookstore and finding things that would delight you? bookbookgoose lets you wander randomly though Amazon's catalog.</p>
          <p>Love this? <a href="https://twitter.com/intent/tweet?text=bookbookgoose.com+is+an+awesome+hack+by+@hmason+to+browse+books+randomly.+Try+it!">tweet</a>.</p>
          <p>I'm <a href="http://twitter.com/hmason">@hmason</a>.</p>
        </div>
        <div class="span6">
          <h3>How does it work?</h3>
          <p><em>Hint:</em> Use 'n' to switch to the next book quickly, and 'b' to go back. Browse until you find something you love. Books are presented randomly.</p>
          <p>This site exists thanks to boostrap, flask, heroku, jquery, amazon, coffee, and literature.</p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; <a href="http://hilarymason.com">Hilary Mason</a> 2013</p>
      </footer>

    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var books = {{ initial_books|safe }};
      var displayed_books = new Array();
       const num_books_to_load = 5;
       const min_books_cached = 2;

       // for stripping tags and entities out of amazon item descriptions 
       var element = document.createElement('div');
        function decodeHTMLEntities (str) {
          if(str && typeof str === 'string') {
            str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
            str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
            element.innerHTML = str;
            str = element.textContent;
            element.textContent = '';
          }
          return str;
        }

        // for preloading cover images
        function preload(arrayOfImages) {
          $(arrayOfImages).each(function(){
            $('<img/>')[0].src = this;
          });
        }

        // put the book into the page
        function displayBook(book) {
            desc = book[4];
            if (desc == "") {
              desc = "<span style='margin-left:30px;color:#666;'>(no description)</span>";
            } else {
              desc = decodeHTMLEntities(desc)
              if (desc.length >=  480){
                desc = desc + "..."
              }
            }
            cover = book[3];
            if (cover == "") {
              cover = "static/img/no-image.gif";
            }
            book_link = decodeURIComponent(book[2].replace(/\+/g,  " "));
            $("#book_title_link").html(book[1]);
            $("#book_author").html(book[0]);
            $("#book_desc").html(desc);
            $(".book_link").attr('href',book_link);
            $("#book_cover").attr('src',cover);
        }

       $(document).ready(function() {
        $.getJSON('v1/get_books?n=' + num_books_to_load, function(data) {
          books = data;
          book_images = new Array(data.length);
          for (var i = 0; i < data.length; i++) {
            book_images[i] = data[i][3];
          }
          preload(book_images);
        });

         $("#book_next").click(function() {
            try {
              book = books.pop();
              displayBook(book);
              displayed_books.push(book);
            } catch(e) {
            } finally { // ugly ugly

              if (books.length < min_books_cached) { // if we're getting low, load more books!
                $.getJSON('v1/get_books?n=' + num_books_to_load + '&rand=' + Math.random(), function(data) {
                  books.push.apply(books, data);
                  book_images = new Array(data.length);
                  for (var i = 0; i < data.length; i++) {
                    book_images[i] = data[i][3];
                  }
                   preload(book_images);
                });
              }

            }
         });

        $("#book_next").click(); // load our first book!

        $("#book_back").click(function() {
          try {
            if (displayed_books.length > 0) { // so you don't have to go forward through the same book
              old_book = book;
              books.push(book);
              book = displayed_books.pop();
              if (old_book == book) {
                book = displayed_books.pop();
              }
            }
            displayBook(book);
          } catch(e) {
          }
        });

        $(document).keypress(function(event) {
          if (event.keyCode == 110 || event.keyCode == 106) { // the 'n' key or the 'j' key #vi4eva
            $("#book_next").click();
          } else {
            if (event.keyCode == 107 || event.keyCode == 98) { // the 'b' or the 'k' key
              $("#book_back").click();
            }
          }
            
          }
        );


       });
    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37483182-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>

